.article {
  padding: 10px;
  border: 1px solid blue;
}

.article__header {
  font-size: 1.5em;
}

.article__footer {
  padding: 0 30px;
}

.goldenrod p {
  color: goldenrod;
}

.dashed {
  border: 1px dashed black;
}

.new_header {
  color: red;
}

.important {
  color: pink;
}
